<strong>Exercise 1: Create a Jupyter Notebook<strong>

<h2><strong>Name:</strong> DataScienceEcosystem</h2>

<strong>Exercise 2: Create markdown cell with title of the notebook<strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction<strong>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages<strong>

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

<strong>Exercise 5 - Create a markdown cell to list data science libraries<strong>

Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. SQL

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools<strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Rstudio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>Python IDEs</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples<strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
result = 5 - 4
print(result)

1

In [ ]:
result = 10+20
print(result)

30

In [ ]:
result = 10 / 2
print(result)

5.0

<strong>Exercise 8 - Create a code cell to multiply and add numbers<strong>

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5
#Result: 17

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours<strong>

This will convert 200 minutes to hours by diving by 60

In [ ]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours
##result: 3.3333333333333335

3.3333333333333335

<strong>Exercise 10 - Insert a markdown cell to list Objectives<strong>

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<strong>Exercise 11 - Create a markdown cell to indicate the Author's name<strong>

<h2>Author:</h2> TriLe